# Local .terraform directories
**/.terraform/*
.terraform*

# Files which may contain passwords, secrets, and sensitive values
*.tfstate*
*.tfplan*
*.tfvars*

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Mac system files
.DS_Store

# Terraform lock file override per
# https://www.terraform.io/docs/language/dependency-lock.html
!.terraform.lock.hcl
